html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#options {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
}

.center {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    padding-top: 80px;
    color: white;
    font-size: 2.5em;
}

h2 {
    color: white;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    border: 4px solid black;
    text-align: center;
    width: 200px;
    background-color: cadetblue;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #8dced0;
}

.light {
    align-self: flex-end;
    width: 150px;
    height: 150px;
    background-color: black;
    float: left;
    border-radius: 50%;
    margin: 20px;
    bottom: 10px;
}

.behind {
    z-index: -1;
}

#gameBoard {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
    border: 6px solid black;
    width: 800px;
    height: 500px;
    background-color: #db203d;
    justify-content: center;
}

#gameBoardDisplay {
    border: 5px solid black;
    padding: 0 20px;
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: sandybrown;
}

#pointScreens {
    position: absolute;
    display: flex;
    margin-top: 200px;
}

#points {
    text-align: center;
    width: 180px;
    margin-right: 60px;
}
p {
    margin: 0;
}

.text {
    padding-top: 20px;
}

.pointDisplay {
    margin-top: 25px;
    background-color: #3E3E3E;
    color: #F8000E;
    text-align: end;
    padding: 10px 0;
    font-size: 35px;
    border: 3px solid black;
    border-radius: 10px;
}

#highscore {
    text-align: center;
    width: 180px;
    margin-left: 60px;
}

h3 {
    color: white;
    font-size: 50px;
}

p {
    clear: both;
}